#ifndef BOT_ENV_H_
#define BOT_ENV_H_

#include <Arduino.h>

// The bot's token. This is used to authenticate the bot with the server.
const String botToken = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";

// The monsterapi token. This is used to authenticate with the MonsterAPI service.
const String monsterapiToken = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx";

// The endpoint for the txt2img service. This service is used to generate images from text.
const String txt2imgEndpoint = "https://api.monsterapi.ai/v1/generate/sdxl-base";

// The SSID and password of the WiFi network that the bot should connect to.
#define SSID "SSID"
#define PASS "Password"

// The chat IDs that the bot is allowed to interact with.
const int allowedChatsLen = 3;
const String allowedChats[allowedChatsLen] = {
    "-11111",
    "-22222",
    "-33333"
};

#endif // BOT_ENV_H_
